<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alca">
	<resultMap id="asset" type="beans.AssetAlca">
		<result property="id" column="ID" />

	</resultMap>
	<select id="searchAsset" parameterType="beans.AssetAlca"
		resultType="beans.AssetAlca">
		SELECT * FROM test1.assetalca

		<where>
			<if test="id != 0">
				id = #{id}
			</if>

			<if test="facNum != null">
				AND facNum = #{facNum}
			</if>
			<if test="facSystem != null">
				AND facSystem LIKE #{facSystem}
			</if>
			<if test="facSubsystem != null">
				AND facSubsystem LIKE #{facSubsystem}
			</if>
			<if test="assemblyCategory != null">
				AND assemblyCategory = #{assemblyCategory}
			</if>
			<if test="nomenclature != null">
				AND nomenclature LIKE #{nomenclature}
			</if>
			<if test="procId != '' and procId != null">
				AND procId = #{procId}
			</if>
			<if test="pmSchedRecipient != '' and pmSchedRecipient != null">
				AND pmSchedRecipient = #{pmSchedRecipient}
			</if>
			<if test="pmSchedSerial != '' and pmSchedSerial != null">
				AND pmSchedSerial = #{pmSchedSerial}
			</if>
			<if test="rpieIdIndividual != '' and rpieIdIndividual != null">
				AND rpieIdIndividual LIKE #{rpieIdIndividual}
			</if>
			<if test="frequency != '' and frequency != null">
				AND frequency = #{frequency}
			</if>
			<if test="schedAssignedOrg != '' and schedAssignedOrg!= null">
				AND schedAssignedOrg = #{schedAssignedOrg}
			</if> 
		</where>
	</select>
</mapper>