<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <display-name>POS</display-name>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
<!--   <servlet> -->
<!--     <servlet-name>Batch Monitor</servlet-name> -->
<!--     <servlet-class>servlets.BatchMonitor</servlet-class> -->
<!--     <load-on-startup>1</load-on-startup> -->
<!--   </servlet> -->
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  
  
  
  
  <context-param>
  <param-name>quartz:config-file</param-name>
  <param-value>quartz.properties</param-value>
</context-param>
<context-param>
  <param-name>quartz:shutdown-on-unload</param-name>
  <param-value>true</param-value>
</context-param>
<context-param>
  <param-name>quartz:wait-on-shutdown</param-name>
  <param-value>true</param-value>
</context-param>
<context-param>
  <param-name>quartz:start-on-load</param-name>
  <param-value>true</param-value>
</context-param> 
  
  <context-param>
        <param-name>org.apache.myfaces.LOG_WEB_CONTEXT_PARAMS</param-name>
        <param-value>false</param-value>
      </context-param>
  
	
<context-param>
	<param-name>primefaces.THEME</param-name>
	<param-value>afterdark</param-value>
</context-param>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
	<listener-class>
             servlets.MyServletContextListener 
        </listener-class>
   </listener>
   
   <listener>
  <listener-class>
		org.quartz.ee.servlet.QuartzInitializerListener
	</listener-class>
</listener>
   
    <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
     <!-- Register resources and providers under com.vogella.jersey.first package. -->
    <init-param>
        <param-name>jersey.config.server.provider.packages</param-name>
        <param-value>restservice</param-value>
    </init-param>
    <init-param>
        <param-name>jersey.config.server.provider.classnames</param-name>
        <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
   
   
   
   
</web-app>